.achievements{
    background-image: url('../../assets/images/acheivement.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    color: #ffffff;
    line-height: 3rem;
}

.divider {
    width: 80px;
    height: 5px;
    border-bottom: 4px solid #ffffff;
    margin: 1rem auto;
}

@media screen and (max-width: 600px){
    .achievements{
        background-image: url('../../assets/images/acheivement.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: max-content;
        color: #ffffff;
        line-height: 3rem;
    }
}